.App {
  text-align: center;
}
.Search {
  max-width: 600px;
  margin: 30px auto;
  background: linear-gradient(
    109.6deg,
    rgb(245, 239, 249) 30.1%,
    rgb(207, 211, 236) 100.2%
  );
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}
h1 {
  color: #130931;
  font-size: 24px9;
  font-weight: 100;
  line-height: 28px;
}
h2 {
  color: #130931;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgb(51, 52, 58);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}
